---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - monitoring.bi-ws2025.de
  resources:
  - observations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.bi-ws2025.de
  resources:
  - observations/finalizers
  verbs:
  - update
- apiGroups:
  - monitoring.bi-ws2025.de
  resources:
  - observations/status
  verbs:
  - get
  - patch
  - update
